.container > form {
    width: fit-content;
    margin: auto;
}

select {
    padding: 5px;
    min-width: 100px;
    margin: 5px
}

@media screen and (max-width: 768px) {
    form {
        display: flex;
        flex-direction: column;
    }
    select {
        min-width: 350px;
    }
}